<% if @container_div %> <div class="container"> <% end %>
<!-- <h2 class="page-header app-blue-text-color">Create an article!</h2> -->

<% if @article.errors.any? %>
    <h2>The following errors prevented the article from being created</h2>
    <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<%= render 'form' %>
<% if @container_div %> </div> <% end %>
