<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alpha Blog | About</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Welcome to the about page!</h1>
    <p>Here is a link to the <%= link_to 'Home page', root_path %></p>
  </body>
</html>
