<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alpha Blog | Home</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Welcome to the home page!</h1>
    <p>Here is a link to the <%= link_to 'About page', about_path %></p>
  </body>
</html>
