<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h2 class="page-header ui-no-top-margin app-text-color">FindTruth</h2>
    <div class='jumbotron home-page-jumbo'>
      <h3 class='ui-no-top-margin ui-small-margin-bottom'>Who are we?</h3>
      <p>
        Here at ChallengeTheFaith, we encourage people to challenge the Christian faith from any vantage point whether it be
        philosophy, science, history, or another. We firmly believe that there is an answer to your question, and we can guarantee that
        our responses will be both respectful and thoughtful.
      </p>
      <p>
        What are you waiting for?
      </p>
      <div class='btn btn-warning sign-up-btn'>Sign up</div>
    </div>
  </body>
</html>
