<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alpha Blog | Home</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Welcome to the home page!</h1>
    <p><%= link_to 'About page', about_path %> | <%= link_to 'Articles', articles_path %></p>
  </body>
</html>
