
<div class='background-photo-wrapper'>
  <div class='container'>
  <h2 class="page-header ui-small-top-margin app-text-color">Find Truth</h2>
  <div class='jumbotron home-page-jumbo'>
    <h3 class='ui-no-top-margin ui-small-margin-bottom'>Who are we?</h3>
    <p>
      Here at ChallengeTheFaith, we encourage people to challenge the Christian faith from any vantage point whether it be
      philosophy, science, history, or another. We firmly believe that there is an answer to your question, and we can guarantee that
      our responses will be both respectful and thoughtful.
    </p>
    <p>
      What are you waiting for?
    </p>
    <div class='btn btn-warning sign-up-btn'>Sign up</div>
  </div>
</div>
</div>

<div class='row' id='bible-verse-home-page-row'>
  <div class="col-sm-3 col-xs-2 col-xs-offset-1 horizontal-line-through-middle-of-div-container">
    <div class='horizontal-line-through-middle-of-div'></div>
  </div>
  <div class="col-sm-4 col-xs-6 ui-medium-top-margin app-blue-text-color" id='main-page-bible-quote'>
      <div id="first-peter-title">1st Peter 3:19</div>
      <div id="first-peter-text">
        "But in your hearts revere Christ as Lord. Always be prepared
        to give an answer to everyone who asks you to give the reason for the hope that you have.
        But do this with gentleness and respect,"
      </div>
  </div>
  <div class="col-sm-3 col-xs-2 horizontal-line-through-middle-of-div-container">
    <div class='horizontal-line-through-middle-of-div'></div>
  </div>
</div>
