$navbar-default-bg: #1D2951;

@import "bootstrap-sprockets";
@import "bootstrap";

.background-photo-wrapper {
  background-image: url('main-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;

}

#logo {
  color: white;
  letter-spacing: -1px;
  font-size: 1.5em;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.nav.navbar-nav > li > a {
  color: white;
  &:hover { color: #aaa; }
  &:active { background-color: $navbar-default-bg; }
  &:visited { color: #fff}
}

.home-page-jumbo {
  padding: 2em;
  background-color: rgba(230, 230, 230, .6);
  a { color: #1D2951; }
}

#main-page-bible-quote {
  border: 1px solid #999999;
  border-radius: 3px;
  padding: .3em;
  text-align: center;
  font-size: 2em;
}

.horizontal-line-through-middle-of-div-container {
   height: 0px;
  .horizontal-line-through-middle-of-div {
      position: relative;
      height: 1px;
      width: 100%;
      border: none;
      border-top: 1px solid black;
    }
}

.app-text-color { color: #fff; }
.app-blue-text-color { color: #194681; }

.sign-up-btn {
  font-size: 1.5em;
}

#first-peter-title {
  position: relative;
  font-size: .8em;
}

#first-peter-text {
  font-size: .6em;
}

.articles-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  input[type='text'] {
    padding-left: .3em;
    font-size: 1.3em;
    color: #1D2951;
  }
}

footer {
  small { float: left; }
  ul {
    li {
      float: left;
      margin-left: 1em;
    }
    float: right;
    list-style: none;
  }

  margin-top: 4em;
  border-top: 1px solid #eaeaea;
}

.form-page-header-text {
  position: relative;
  text-align: center;
  margin-top: 1em;
}
