// top margin
.ui-no-top-margin { margin-top: 0; }
.ui-small-top-margin { margin-top: .5em; }
.ui-medium-top-margin { margin-top: 1em; }
.ui-large-top-margin { margin-top: 2em; }

// right margin
.ui-no-right-margin { margin-right: 0; }
.ui-small-right-margin { margin-right: .5em; }
.ui-medium-right-margin { margin-right: 1em; }
.ui-large-right-margin { margin-right: 2em; }

// bottom margin
.ui-no-bottom-margin { margin-bottom: 0; }
.ui-small-bottom-margin { margin-bottom: .5em; }
.ui-medium-bottom-margin { margin-bottom: 1em; }
.ui-large-bottom-margin { margin-bottom: 2em; }

// left margin
.ui-no-left-margin { margin-left: 0; }
.ui-small-left-margin { margin-left: .5em; }
.ui-medium-left-margin { margin-left: 1em; }
.ui-large-left-margin { margin-left: 2em; }

// centering
